<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en" }}" dir="auto">

<head>
    {{- partial "head.html" . -}}
</head>

<body class="
{{- if (or (ne .Kind `page` ) (eq .Layout `archives`) (eq .Layout `search`)) -}}
{{- print "list" -}}
{{- end -}}
{{- if eq .Site.Params.defaultTheme `dark` -}}
{{- print " dark" -}}
{{- end -}}
" id="top">
    {{- partial "header.html" . -}}
    <main class="main">
        {{- block "main" . }}{{- end }}
    </main>
    {{- partial "footer.html" . -}}
    <a href="#top" aria-label="go to top" title="Go to Top (Alt + G)" class="top-link" id="top-link" accesskey="g">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 6" fill="currentColor">
            <path d="M12 6H0l6-6z" />
        </svg>
    </a>
    {{- partial "script.html" . -}}
</body>

</html>
